namespace ${BusinessName} {


    /** ${BusinessName} */
    type ${BusinessName} = Common.CommonRecord<{
        #foreach($column in $columns)#if(!$BaseEntity.contains($column.fieldName))
        /** $column.columnComment */
            $column.fieldName:#if($column.fieldName.indexOf("id") != -1 || $column.fieldName.indexOf(
                "Id") != -1) CommonType.IdType; #elseif($column.fieldType == 'Long' || $column.fieldType ==
                'Integer' || $column.fieldType == 'Double' || $column.fieldType == 'Float' || $column.fieldType ==
                'BigDecimal') number; #elseif($column.fieldType == 'Boolean') boolean; #else string; #end
        #end#end
    }>;

    /** ${BusinessName} search params */
    type ${BusinessName}SearchParams = Common.CommonSearchParams & {
        #foreach($column in $columns)
            #if($column.query && $column.queryType != 'BETWEEN')
                | '${column.fieldName}'
            #end
        #end
    }

    /** ${BusinessName} list */
    type ${BusinessName}List = Common.PaginatingQueryRecord<${BusinessName}>;

    /** ${BusinessName} form */
    type FormUser = Pick<
        ${BusinessName},
        #foreach($column in $columns)
            #if(!$column.required)
                | '${column.fieldName}'
            #end
        #end>
}
