<script setup lang="tsx">
    import { Button, Popconfirm, Tag, Tooltip } from 'ant-design-vue';
    import { DeleteOutlined, EditOutlined, KeyOutlined } from '@ant-design/icons-vue';
    import { fetchBatchDelete${BusinessName}, fetchGet${BusinessName}List } from '@/service/api';
    import { useTable, useTableOperate, useTableScroll } from '@/hooks/common/table';
    import { $t } from '@/locales';
    import { jsonClone } from '@sa/utils';
    import { useBoolean } from '@sa/hooks';
    import { enableStatusRecord, userGenderRecord } from '@/constants/business';
    import { formatCreatedAt } from '@/utils/date';
    import ${BusinessName}OperateDrawer from './modules${business__name}-operate-drawer.vue';
    import ${BusinessName}Search from './modules${business__name}-search.vue';

    defineOptions({
        name: '${BusinessName}List'
    });

    const { tableWrapperRef, scrollConfig } = useTableScroll();
    const { bool: passwordVisible, setTrue: openPasswordDrawer } = useBoolean();

    const {
        columns,
        columnChecks,
        data,
        getData,
        getDataByPage,
        loading,
        mobilePagination,
        searchParams,
        resetSearchParams
    } = useTable({
        apiFn: fetchGet${BusinessName}List,
        apiParams: {
            page: 1,
            pageSize: 10,

            #foreach ($column in $columns)
                #if($column.query)
                        $column.fieldName: null#if($foreach.hasNext),#end
                #end
            #end
        },
        columns: () => [
            {
                key: 'id',
                title: $t('common.index'),
                dataIndex: 'id',
                align: 'center',
                width: 64
            },
            #foreach ($column in $columns)
                #if($column.list)
                    #if($column.fieldName == 'state')
                        {
                            key: 'state',
                            dataIndex: 'state',
                            title: '$column.columnComment',
                            align: 'center',
                            width: 100,
                            customRender: ({ record }) => {
                                if (record.state === null) {
                                    return null;
                                }

                                const tagMap: Record<Api.Common.EnableStatus, string> = {
                                    '1': 'success',
                                    '2': 'warning'
                                };

                                const label = $t(enableStatusRecord[record.state]);

                                return <Tag color={tagMap[record.state]}>{label}</Tag>;
                            }
                        },
                    #elseif($column.fieldName == 'createdAt')
                        {
                            key: 'createdAt',
                            dataIndex: 'createdAt',
                            title: '$column.columnComment',
                            align: 'center',
                            minWidth: 200,
                            customRender: ({ record }) => {
                                return formatCreatedAt(record);
                            }
                        },
                    #else
                    {
                        key: '$column.fieldName',
                        dataIndex: '$column.fieldName',
                        title: '$column.columnComment',
                        align: 'center',
                        minWidth: 120
                    },
                    #end
                #end
            #end
            {
                key: 'operate',
                title: $t('common.operate'),
                align: 'center',
                width: 130,
                customRender: ({ record }) => {
                    return (
                        <div class="flex-center gap-8px">
                            <Tooltip placement="top" title={<span>{$t('common.edit')}</span>}>
                                <Button type="primary" ghost size='small' class="operation-btn"
                                        shape="circle" icon={<EditOutlined />} onClick={() => edit(record.id)}/>
                            </Tooltip>

                            <Tooltip placement="top" title={<span>{$t('common.delete')}</span>}>
                                <Popconfirm title={$t('common.confirmDelete')} onConfirm={() => handleDelete(record.id)}>
                                    <Button type="primary" danger ghost size='small' class="operation-btn"
                                            shape="circle" icon={<DeleteOutlined />}/>
                                </Popconfirm>
                            </Tooltip>
                        </div>
                    );
                }
            }
        ]
    });

    const {
        drawerVisible,
        operateType,
        editingData,
        handleAdd,
        handleEdit,
        checkedRowKeys,
        rowSelection,
        onBatchDeleted,
        onDeleted
        // closeDrawer
    } = useTableOperate(data, getData);

    async function handleBatchDelete() {
        // request
        const { error } = await fetchBatchDelete${BusinessName}({ ids: checkedRowKeys.value });
        if (error) return;
        onBatchDeleted();
    }

    async function handleDelete(id: number) {
        // request
        const { error } = await fetchBatchDelete${BusinessName}({ ids: [id] });
        if (error) return;
        onDeleted();
    }

    function edit(id: number) {
        handleEdit(id);
    }
</script>

<template>
    <div class="min-h-500px flex-col-stretch gap-16px overflow-hidden lt-sm:overflow-auto">
        <${BusinessName}Search v-model:model="searchParams" @reset="resetSearchParams" @search="getDataByPage" />
        <ACard
            title="${functionName}列表"
            :bordered="false"
            :body-style="{ flex: 1, overflow: 'hidden' }"
            class="flex-col-stretch sm:flex-1-hidden card-wrapper"
        >
            <template #extra>
                <TableHeaderOperation
                    v-model:columns="columnChecks"
                    :disabled-delete="checkedRowKeys.length === 0"
                    :loading="loading"
                    @add="handleAdd"
                    @delete="handleBatchDelete"
                    @refresh="getData"
                />
            </template>
            <ATable
                ref="tableWrapperRef"
                :columns="columns"
                :data-source="data"
                size="small"
                :row-selection="rowSelection"
                :scroll="scrollConfig"
                :loading="loading"
                row-key="id"
                :pagination="mobilePagination"
                class="h-full"
            />

            <!-- User Operate add edit drawer -->
            <${BusinessName}OperateDrawer
                v-model:visible="drawerVisible"
                :operate-type="operateType"
                :row-data="editingData"
                @submitted="getDataByPage"
            />
        </ACard>
    </div>
</template>

<style scoped></style>
