package models

import (
    #foreach ($import in $importList)
        "${import}"
    #end
)

// 用户模型
type ${ClassName} struct {
    global.BaseModel
    #foreach ($column in $columns)
        $gorm = column:${column.columnName};
        #if($column.size != "")
            $gorm += size:${column.size};
        #end
        #if($column.defaultVal != "")
            $gorm += default:${column.defaultVal};
        #end
        #if($column.comment != "")
            $gorm += comment:${column.comment};
        #end
        #if(!$table.isSuperColumn($column.javaField))
            $column.fieldName $column.fieldType  `gorm:"${gorm}" json:"${column.fieldName}"`
        #end
    #end
}

func (${ClassName}) TableName() string {
    return "${table.tableName}"
}
