<script setup lang="ts">
    import { computed, ref, watch } from 'vue';
    import { useAntdForm, useFormRules } from '@/hooks/common/form';
    import { fetchCreate${BusinessName}, fetchUpdate${BusinessName} } from '@/service/api';
    import { $t } from '@/locales';
    import { enableStatusOptions, userGenderOptions } from '@/constants/business';

    defineOptions({
        name: '${BusinessName}OperateDrawer'
    });

    interface Props {
        /** the type of operation */
        operateType: AntDesign.TableOperateType;
        /** the edit row data */
        rowData?: Api.$ModuleName.${BusinessName} | null;
    }

    const props = defineProps<Props>();

    interface Emits {
        (e: 'submitted'): void;
    }

    const emit = defineEmits<Emits>();

    const visible = defineModel<boolean>('visible', {
        default: false
    });

    const { formRef, validate, resetFields } = useAntdForm();
    const { createRequiredRule, formRules, createConfirmPwdRule } = useFormRules();

    const title = computed(() => {
        const titles: Record<AntDesign.TableOperateType, string> = {
            add: '新增${functionName}',
            edit: '编辑${functionName}'
        };
        return titles[props.operateType];
    });

    // type Model = Pick<
    //   Api.SysUser.FormUser,
    //   'userName' | 'sex' | 'nickName' | 'realName' | 'telPhone' | 'email' | 'roles' | 'state' | 'password' | 'confirmPassword' | 'remark'
    // >;

    const model = ref(createDefaultModel());

    function createDefaultModel(): Api.$ModuleName.Form${BusinessName} {
        return {
            #foreach($column in $columns)
                #if($column.insert)
                    ${column.fieldName}:#if($column.fieldType == 'String' || ($!column.dictType && $column.dictType != '')) ''#else undefined#end#if($foreach.hasNext),#end
                #end
            #end
        };
    }

    type RuleKey = Exclude<keyof Api.$ModuleName.Form${BusinessName}, #foreach($column in $columns)
        #if(!$column.required)
            | '$column.fieldName'#if($foreach.hasNext)#end
        #end#end>;

    const rules: Record<RuleKey, App.Global.FormRule[]> = {
        #foreach($column in $columns)
            #if($column.required)
                    $column.fieldName: [createRequiredRule('${column.columnComment}不能为空')]
                #if($foreach.hasNext),#end
            #end
        #end
    };

    const ${businessName}Id = computed(() => props.rowData?.id || -1);

    const isEdit = computed(() => props.operateType === 'edit');

    function handleInitModel() {
        model.value = createDefaultModel();

        if (isEdit.value && props.rowData) {
            Object.assign(model.value, props.rowData);
        }
    }

    function closeDrawer() {
        visible.value = false;
    }

    async function handleSubmit() {
        await validate();
        #set($operateColumns = [])
        #foreach($column in $columns)#if($column.insert || $column.edit)#set($dummy = $operateColumns.add($column))#end#end
        const { #foreach($column in $operateColumns)$column.fieldName#if($foreach.hasNext), #end#end } = model;

        // request
        if (props.operateType === 'add') {
            #set($addFields = [])
            #foreach($column in $columns)#if($column.insert)#set($dummy = $addFields.add($column.fieldName))#end#end
        const { error } = await fetchCreate${BusinessName}({ #foreach($field in $addFields)$field#if($foreach.hasNext), #end#end });
            if (error) return;
        }

        if (props.operateType === 'edit') {
            #set($editFields = [])
            #foreach($column in $columns)#if($column.edit)#set($dummy = $editFields.add($column.fieldName))#end#end
        const { error } = await fetchUpdate${BusinessName}({ #foreach($field in $editFields)$field#if($foreach.hasNext), #end#end });
            if (error) return;
        }

        closeDrawer();
        emit('submitted');
    }

    watch(visible, () => {
        if (visible.value) {
            resetFields();
            handleInitModel();
        }
    });
</script>

<template>
    <ADrawer v-model:open="visible" :title="title" width="45%">
        <AForm ref="formRef" layout="vertical" :model="model" :rules="rules">
        #foreach($column in $columns)
            #set($field=$column.fieldName)
            #if(($column.insert || $column.edit) && !$column.pk)
                #set($parentheseIndex=$column.columnComment.indexOf("（"))
                #if($parentheseIndex != -1)
                    #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                #else
                    #set($comment=$column.columnComment)
                #end
                #set($dictType=$!StrUtil.toCamelCase($column.dictType))
                <AFormItem label="$comment" name="$field">
                    <AInput v-model:value="model.nickName" :placeholder="$t('page.manage.user.form.nickName')" />
                </AFormItem>
                <AFormItem label="$comment" name="$field">
                    #if($column.htmlType == "textarea" || $column.htmlType == "editor")
                        <ATextarea v-model:value="model.$field" placeholder="请输入$comment" />
                    #elseif($column.htmlType == "select")
                        <ASelect
                            v-model:value="model.$field"
                            mode="multiple"
                            :options="[]"
                            placeholder="请选择$comment"
                        />
                    #elseif($column.htmlType == "radio")
                        <ARadioGroup v-model:value="model.$field">
                            <ARadio value="item.value">只填写</ARadio>
                        </ARadioGroup>
                    #elseif($column.htmlType == "checkbox" && "" != $dictType)
                        <ACheckboxGroup v-model:value="model.$field" :options="[]" />
                    #elseif($column.htmlType == 'datetime')
                        <ADatePicker v-model:value="model.$field" placeholder="请选择$comment" />
                    #end

                </AFormItem>
            #end
        #end
        </AForm>
        <template #footer>
            <ASpace :size="16">
                <AButton @click="closeDrawer">{{ $t('common.cancel') }}</AButton>
                <AButton type="primary" @click="handleSubmit">{{ $t('common.confirm') }}</AButton>
            </ASpace>
        </template>
    </ADrawer>
</template>

<style scoped></style>
