<script setup lang="ts">
    #foreach ($column in $columns)
        #if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
            #set($isDatetime=true)
        #end
    #end
    import { ref } from 'vue';
    import { $t } from '@/locales';
    import { useAntdForm } from '@/hooks/common/form';
    #if($isDatetime)
    import { Dayjs } from 'dayjs';
    import { formatDate } from '@/utils/date';
    #end
    import { enableStatusOptions } from '@/constants/business';
    import { translateOptions } from '@/utils/common';

    defineOptions({
        name: '${BusinessName}Search'
    });

    #if($isDatetime)
    type RangeValue = [Dayjs, Dayjs];
    #end

    interface Emits {
        (e: 'reset'): void;
        (e: 'search'): void;
    }

    const emit = defineEmits<Emits>();

    const { formRef, validate, resetFields } = useAntdForm();

    const model = defineModel<Api.${BusinessName}.${BusinessName}SearchParams>('model', { required: true });

    #if($isDatetime)
    const startEndTime = ref<RangeValue>();

    function handleTimeChange(dates: [Dayjs, Dayjs] | [string, string]) {
        const ds = dates as RangeValue;
        model.value.startTime = formatDate(ds[0], "YYYY-MM-DD")
        model.value.endTime = formatDate(ds[1], "YYYY-MM-DD")
    }
    #end


    async function reset() {
        await resetFields();
        emit('reset');
    }

    async function search() {
        await validate();
        emit('search');
    }
</script>

<template>
    <ACard :title="$t('common.search')" :bordered="false" class="card-wrapper">
        <AForm
            ref="formRef"
            :model="model"
            :label-col="{
        span: 5,
        md: 7
      }"
        >
            <ARow :gutter="[16, 16]" wrap>
            #foreach($column in $columns)
                #if($column.query)
##                    #set($dictType=$!StrUtil.toCamelCase($column.dictType))
##                    #set($AttrName=$column.fieldName.substring(0,1).toUpperCase() + ${column.fieldName.substring(1)})
##                    #set($parentheseIndex=$column.columnComment.indexOf("（"))
##                    #if($parentheseIndex != -1)
##                        #set($comment=$column.columnComment.substring(0, $parentheseIndex))
##                    #else
##                        #set($comment=$column.columnComment)
##                    #end
                    <ACol :span="24" :md="12" :lg="6">
                        <AFormItem label="$column.columnComment" name="$column.fieldName" class="m-0">
                            #if($!StrUtil.contains("select, radio, checkbox", $column.htmlType) && $dictType && "" != $dictType)
                                <ASelect
                                    v-model:value="model.$column.fieldName"
                                    placeholder=""请选择$column.columnComment""
                                    :options="[]"
                                    clearable
                                />
                            #elseif($!StrUtil.contains("select, radio, checkbox", $column.htmlType))
                                <ASelect
                                    v-model:value="model.$column.fieldName"
                                    placeholder="请选择$column.columnComment"
                                    :options="[]"
                                    allowClear
                                    style="width: 100%"
                                />
                            #elseif($column.htmlType == 'datetime' && $column.queryType != "BETWEEN")
                                <DatePicker
                                    v-model:value="model.$column.fieldName"
                                    show-time
                                    format="YYYY-MM-DD HH:mm:ss"
                                    value-format="YYYY-MM-DD HH:mm:ss"
                                    allowClear
                                    style="width: 100%"
                                />
                            #elseif($column.htmlType == 'datetime' && $column.queryType == "BETWEEN")
                                <<ARangePicker v-model:value="startEndTime" class="w-full" @change="handleTimeChange" />
                            #else
                                <AInput v-model:value="model$column.fieldName" placeholder="请输入$column.columnComment" />
                            #end
                        </AFormItem>
                    </ACol>
                #end
            #end

                <div class="flex-1">
                    <AFormItem class="m-0">
                        <div class="w-full flex-y-center justify-end gap-12px">
                            <AButton @click="reset">
                                <template #icon>
                                    <icon-ic-round-refresh class="align-sub text-icon" />
                                </template>
                                <span class="ml-8px">{{ $t('common.reset') }}</span>
                            </AButton>
                            <AButton type="primary" ghost @click="search">
                                <template #icon>
                                    <icon-ic-round-search class="align-sub text-icon" />
                                </template>
                                <span class="ml-8px">{{ $t('common.search') }}</span>
                            </AButton>
                        </div>
                    </AFormItem>
                </div>
            </ARow>
        </AForm>
    </ACard>
</template>

<style scoped></style>
