:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* 自定义窗口拖动 */
  .win-title {
    -webkit-app-region: drag;
  }
  /* 自定义窗口按钮 自定义窗口拖动中如果不使用这个样式，按钮不能点击*/
  .win-btn {
    -webkit-app-region: no-drag;
  }