package models

import (
    #foreach ($import in $importList)
        "${import}"
    #end
)

// 用户模型
type ${ClassName} struct {
    global.BaseModel
    #foreach ($column in $columns)
        #set($gorm = "column:${column.columnName}")
        #if($column.size && $column.size != "")
            #set($gorm = "$gorm;size:${column.size}")
        #end
        #if($column.defaultVal && $column.defaultVal != "")
            #set($gorm = "$gorm;default:${column.defaultVal}")
        #end
        #if($column.comment && $column.comment != "")
            #set($gorm = "$gorm;comment:${column.comment}")
        #end
        #if(!$table.isSuperColumn($column.javaField))
            $column.fieldName $column.fieldType  `gorm:"${gorm}" json:"$!StrUtil.lowerFirst($column.fieldName)"`
        #end
    #end
}

func (${ClassName}) TableName() string {
    return "${table.tableName}"
}
